<h1>This is my index ERB file for People</h1>



<% @people.each do |person| %>
    <%= person.name %>
    <%= link_to 'Show', person %>
<% end %>

<%= link_to 'New Life event', new_life_event_path %>
<%= link_to 'New School', new_school_path %>