<h1>Welcome!</h1>

<p>Welcome to Life Tracker! Track the schools you attended and important life events!</p>

<a href="../schools/index.html.erb">Schools</a>
<a href="../life_events/index.html.erb">Life Events</a>